.messages {
  height: 45%;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  margin: 5px;

  display: flex;
  flex-direction: column;

  .messages-container {
    flex: 1;
    display: flex;

    .messages-categories {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: #e6e6e6;
      border-radius: 10px;

      .category {
        margin-top: 10px;
        margin-left: 12px;
      }
    }
    .messages-content {
      height: 200px;
      padding: 10px;
      padding-left: 20px;
      overflow: scroll;

      .message {
        margin-bottom: 15px;
        .message-header {
          display: flex;
          justify-content: space-between;
          .author {
            font-weight: 600;
          }
          .date {
            font-size: 13px;
          }
        }

        .content {
          font-size: 13px;
        }
      }
    }
  }
}
