@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-panel {
  @include flex-center();
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.activity {
  max-width: 350px;
}
.messages {
    width: 96%;
}
.activity,
.friends,
.messages {
  border: 1px solid #b7b7b7;
  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
    color: rgb(66, 66, 66);
    margin-bottom: 10px;
  }
}
