@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-selection {
  height: 100%;
  width: 100%;
  position: absolute;

  .selection-popup-container {
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(0.5);
    @include flex-center;

    .selection-popup {
      @include flex-center;
      flex-wrap: wrap;
      height: 280px;
      width: 600px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0px 0px 3px #a0a0a0;

      .description {
        text-align: center;
        width: 100%;
      }

      .user {
        height: 100px;
        margin: 10px;
        @include flex-center();
        width: 100px;
        background-color: #d19627;
      }
    }
  }
}
