@mixin flex-col {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.left-panel {
  height: 100%;
  width: 5cm;
  left: 0px;
  color: #eaeaea;
  @include flex-col();

  .user-container,
  .infos-container,
  .actions-container {
    span {
      width: 100%;
      text-align: center;
    }
  }

  .user-container {
    @include flex-col();
    height: 150px;
    width: 100%;
    background-color: #444444;
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
  }

  .infos-container {
    @include flex-col();
    background-color: #4e4e4e;
    width: 100%;
    flex: 1;
  }

  .actions-container {
    @include flex-col();
    height: 100px;
    width: 100%;
    background-color: #5d5d5d;
  }
}
