@mixin flex-col {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.left-panel {
  height: 100%;
  width: 13%;
  left: 0px;
  color: white;
  background: radial-gradient(
    circle,
    rgb(0, 23, 47) 0%,
    rgb(0, 31, 68) 33%,
    rgb(7, 15, 23) 67%,
    rgb(0, 40, 103) 100%
  );
  @include flex-col();

  .user-container,
  .infos-container,
  .actions-container {
    span {
      width: 100%;
      text-align: center;
    }
  }

  .user-container {
    @include flex-col();
    height: 150px;
    width: 100%;
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }

  .infos-container {
    @include flex-col();
    width: 100%;
    flex: 1;
  }

  .actions-container {
    @include flex-col();
    height: 100px;
    width: 100%;
  }
}
