.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: #cbcacb;
  background: radial-gradient(
    circle,
    rgb(23 23 23) 0%,
    rgb(31 31 31) 33%,
    rgb(7, 15, 23) 67%,
    rgb(6 6 6) 100%
  );
  border-bottom: 1px solid #828282;
}

.header-title,
.header-icons {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.header-title {
  margin-left: 20px;
}

.header-icons {
  margin-right: 20px;
}

.header-icons > * {
  margin-left: 15px;
  cursor: pointer;
}

.divider {
  height: 65%;
  margin-left: 15px;
  margin-right: 15px;
  border-left: 1px solid #9e9e9e;
}

.header-secondary-title {
  font-size: 16px;
  color: #bfbfbf;
}

.user-icon {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #656565;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 10px black;
}
.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1 1;
  width: 100%;
}
