.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.header {    
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b5b5b5;
  font-family: revert;
  font-size: 37px;
  font-variant: small-caps;
  color: #5a5a5a;
  letter-spacing: 26px;
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1 1;
  width: 100%;
}
