.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.header {
  height: 50px;
  padding-left: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  color: #cbcacb;
  background: radial-gradient(
    circle,
    rgb(0, 23, 47) 0%,
    rgb(0, 31, 68) 33%,
    rgb(7, 15, 23) 67%,
    rgb(0, 40, 103) 100%
  );
  border-bottom: 1px solid #828282;
}

.header-main-title {
}

.header-secondary-title {
  font-size: 16px;
  color: #bfbfbf;
  margin-left: 15px;
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1 1;
  width: 100%;
}
